@import '../../../styles/settings.scss';

.root {
  button {
    padding: 12px 30px;
  }

  .hero {
    width: 100%;
    height: auto;
    background: url('https://images.pexels.com/photos/1626481/pexels-photo-1626481.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    padding: 10px 12px 6% 12px;

    .pageTitle {
      font-size: 6rem;
      line-height: .9;
      color: $color-accent;
      text-shadow: $text-shadow;
      margin-bottom: 1rem;
    }
    .pageSlogan {
      font-size: 2rem;
      color: $color-white;
      text-shadow: $text-shadow;
      font-weight: 400;
    }
  }

  .darken {
    background-image:
      linear-gradient(
        rgb(119, 0, 42),
        rgba(0, 0, 0, 0.15)
      ),
      url('https://images.pexels.com/photos/1626481/pexels-photo-1626481.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }
}


@media (max-width: 768px) {
  .root {
    .hero {
      text-align: center;
    }
  }
}
