@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

$base-size: 12px;

$color-main: #ab003c;
$color-accent: #ffee33;
$color-white: #fff;
$color-grey: #e0e0e0;

$text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.37);
